@import "./variables.css";
@import "./beautify.css";

/* 基础样式 */
@import "./base.css";

/* 模块样式 */
@import "./profile.css";
@import "./components.css";
@import "./settings.css";
@import "./api.css";
@import "./character.css";
@import "./charprofile.css";
@import "./worldbook.css";
@import "./worldbook_edit.css";

/* 命运转盘样式 */
@import "./fate.css";
